ol{margin:0;padding:0}
.c13{vertical-align:top;border-style:solid;border-color:#000000;border-width:1pt;padding:5pt 5pt 5pt 5pt}
.c2{vertical-align:top;border-style:solid;border-color:#000000;border-width:1pt;padding:5pt 5pt 5pt 5pt}
.c34{vertical-align:top;border-style:solid;border-color:#000000;border-width:1pt;padding:5pt 5pt 5pt 5pt}
.c26{vertical-align:top;border-style:solid;border-color:#000000;border-width:1pt;padding:5pt 5pt 5pt 5pt}
.c12{vertical-align:top;border-style:solid;border-color:#000000;border-width:1pt;padding:5pt 5pt 5pt 5pt}
.c33{background-color:#ffffff;padding:20px;}
.c29{list-style-type:disc;margin:0;padding:0}
.c18{list-style-type:decimal;margin:0;padding:0}
.c31{list-style-type:lower-latin;margin:0;padding:0}
.c1{margin:5px;border:1px solid black}
.c4{direction:ltr;margin-left:18pt}
.c3{color:inherit;text-decoration:inherit}
.c9{color:#1155cc;text-decoration:underline}
.c30{border-collapse:collapse}
.c28{height:18pt}
.c16{padding-left:0pt}
.c22{font-size:18pt}
.c7{height:11pt}
.c5{direction:ltr;}
.c21{font-size:24pt}
.c15{margin-left:36pt}
.c0{font-family:"Courier New"}
.c20{background-color:#d9d9d9}
.c17{text-align:center}
.c24{margin-left:108pt}
.c6{font-style:italic}
.c14{margin-left:72pt}
.c19{background-color:#ffff00}
.c11{font-weight:bold}
.c10{font-size:10pt}
.c27{height:0pt}
.c23{text-align:right}
.c25{margin-left:54pt}
.c8{line-height:1.0}
.c32{font-size:12pt}
.title{padding-top:24pt;line-height:1.15;text-align:left;color:#000000;font-size:36pt;font-family:"Arial";font-weight:bold;padding-bottom:6pt}
.subtitle{padding-top:18pt;line-height:1.15;text-align:left;color:#666666;font-style:italic;font-size:24pt;font-family:"Georgia";padding-bottom:4pt}
li{color:#000000;font-size:11pt;font-family:"Arial"}
p{color:#000000;font-size:11pt;margin:0;font-family:"Arial"}
h1{padding-top:24pt;line-height:1.15;text-align:left;color:#000000;font-size:18pt;font-family:"Arial";font-weight:bold;padding-bottom:6pt}
h2{padding-top:18pt;line-height:1.15;text-align:left;color:#000000;font-size:14pt;font-family:"Arial";font-weight:bold;padding-bottom:4pt}
h3{padding-top:14pt;line-height:1.15;text-align:left;color:#666666;font-size:12pt;font-family:"Arial";font-weight:bold;padding-bottom:4pt}
h4{padding-top:12pt;line-height:1.15;text-align:left;color:#666666;font-style:italic;font-size:11pt;font-family:"Arial";padding-bottom:2pt}
h5{padding-top:11pt;line-height:1.15;text-align:left;color:#666666;font-size:10pt;font-family:"Arial";font-weight:bold;padding-bottom:2pt}
h6{padding-top:0pt;line-height:1.15;text-align:center;color:#000000;font-style:italic;font-size:10pt;font-family:"Arial";padding-bottom:0pt}

